settings.json
assets/
assets/images/
assets/videos/
assets/fonts/
assets/icons/
assets/scripts/
assets/styles/

.htaccess

.env

.DS_Store

.env

.htaccess

tailwind.config.js
.gitignore
tailwind.css

