<section id="about" class="about">
  <div class="section-container">
    <div class="about-content">
      <div class="about-text">
        <h2>About H3 Construction</h2>
        <p>
          At H3 Excavation and Construction, we do the groundwork that makes
          your property better. With 15 years of experience in the field and 5
          years running our own business, we know what it takes to get your job
          done right. We handle all your excavation needs - from grading and
          sloping to trenching and complete septic system installation. As a
          DEQ-certified company, you can trust that your septic work will be
          done properly and up to code. We believe in keeping things simple:
          quality work, fair prices, and clear communication. When you work with
          H3, you're working with a team that cares about getting your project
          done right the first time. Let us help build the foundation for your
          next project.
        </p>
        <ul class="about-features">
          <li><i class="fas fa-check"></i> Licensed and Insured</li>
          <li><i class="fas fa-check"></i> Experienced Team</li>
          <li><i class="fas fa-check"></i> Quality Service</li>
          <li><i class="fas fa-check"></i> Punchtual / Dependable</li>
        </ul>
      </div>
      <div class="about-image">
        <img src="/assets/images/excavatoratwork.jpg" alt="About Us" />
      </div>
    </div>
  </div>
</section>
