<section class="hero">
  <div class="hero-content">
    <h1>Cut <em>Above</em> The Rest</h1>
    <p><em>Your</em> ground, <em>our</em> expertise, endless possibilities</p>
  </div>
  <div class="mobile-hero-image">
    <img src="/assets/images/excavator1.jpg" alt="Excavator" />
  </div>
  <div class="hero-image-container">
    <div class="hero-image img-before">
      <img src="/assets/images/road-before-HD.jpg" alt="Before" />
    </div>
    <div class="hero-image img-after">
      <img src="/assets/images/road-after-HD.jpg" alt="After" />
    </div>
  </div>
</section>
