<section id="projects" class="projects">
  <div class="section-container">
    <h2>Featured Projects</h2>
    <div class="projects-grid">
      <div class="project-card">
        <img src="/assets/images/8.jpg" alt="Project 1" />
        <div class="project-info">
          <h3>ADA Septic-removal/install</h3>
          <p>ADA Compliance/Septic</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/assets/images/6.3.jpg" alt="Project 2" />
        <div class="project-info">
          <h3>Site Development</h3>
          <p>Land Clearing/Leveling</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/assets/images/5.8.jpg" alt="Project 3" />
        <div class="project-info">
          <h3>Poll Barn Prep</h3>
          <p>Excavation/Construction</p>
        </div>
      </div>
    </div>
  </div>
</section>
