<section id="testimonials" class="testimonials">
  <div class="section-container">
    <h2>Client Testimonials</h2>
    <div class="testimonials-slider">
      <div class="testimonial-card">
        <div class="quote"><i class="fas fa-quote-left"></i></div>
        <p>
          "Chance and his team are extremely professional and there work is top
          notch! I highly recommend them! They will go above and beyond for
          you!"
        </p>
        <div class="client-info">
          <h4>Lindsey Nickel</h4>
          <span>Client</span>
        </div>
      </div>
      <div class="testimonial-card">
        <div class="quote"><i class="fas fa-quote-left"></i></div>
        <p>
          "Chance Hyser with H3 Excavation & Construction recently worked on the
          utility trench for our home. He was great to work with and a good
          communicator. He has lots of experience in the field and was able to
          provide good advice to solve some of our complex issues. Best of all,
          he was reliable, showed up when he said he would, and did great work.
          We were very pleased."
        </p>
        <div class="client-info">
          <h4>Jill Elaine</h4>
          <span>Client</span>
        </div>
      </div>
    </div>
  </div>
</section>
