<div class="project-gallery" id="projectgallerycarouselamberfield">
  <div class="carouselcontainer">
    <button
      class="close-btn"
      onclick="document.getElementById('projectgallerycarouselamberfield').hidePopover()"
    >
      ×
    </button>

    <div class="gallery-container">
      <div class="gallery-wheel">
        <div class="gallery-item">
          <img src="/assets/images/amber field/5.jpg" alt="New Septic System" />
        </div>
        <div class="gallery-item">
          <img src="/assets/images/amber field/2.jpg" alt="Drain Field" />
        </div>
        <div class="gallery-item">
          <img src="/assets/images/amber field/6.jpg" alt="Drain Field" />
        </div>
        <div class="gallery-item">
          <img src="/assets/images/amber field/3.jpg" alt="Drain Field" />
        </div>
        <div class="gallery-item">
          <img src="/assets/images/amber field/1.jpg" alt="Septic System" />
        </div>
      </div>
    </div>

    <div class="focused-container">
      <img
        class="focused-image"
        src="/assets/images/amber field/5.jpg"
        alt="Focused Project Image"
      />
      <button class="nav-arrow prev">❮</button>
      <button class="nav-arrow next">❯</button>
    </div>
  </div>
</div>
