<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H3-Frosted Meadow</title>

    <link rel="stylesheet" href="/styles/maingallerypage.css" />
  </head>
  <body>
    <button class="back-button" onclick="goBackToGallery()">
      ← Back to Gallery
    </button>
    <div class="gallery-container">
      <div class="gallery">
        <img src="/assets/images/frosted meadow/1.jpg" alt="Image 1" />
        <img src="/assets/images/frosted meadow/2.jpg" alt="Image 2" />
      </div>
    </div>

    <div class="modal">
      <span class="close-button">&times;</span>
      <img class="modal-content" src="" alt="Modal Image" />
    </div>

    <script src="/scripts/gallery page/projectNavigation.js"></script>
    <script src="/scripts/maingallerypage.js"></script>
  </body>
</html>
