<div class="project-gallery" id="projectgallerycarouselmountainpeak">
  <div class="carouselcontainer">
    <button
      class="close-btn"
      onclick="document.getElementById('projectgallerycarouselmountainpeak').hidePopover()"
    >
      ×
    </button>
    <div class="gallery-container">
      <div class="gallery-wheel">
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/1.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/2.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/3.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/4.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/5.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/6.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/7.jpg"
            alt="Land Development"
          />
        </div>
        <div class="gallery-item">
          <img
            src="/assets/images/mountain peak/11.jpg"
            alt="Land Development"
          />
        </div>
      </div>
    </div>

    <div class="focused-container">
      <img
        class="focused-image"
        src="/assets/images/mountain peak/1.jpg"
        alt="Focused Project Image"
      />
      <button class="nav-arrow prev">❮</button>
      <button class="nav-arrow next">❯</button>
    </div>
  </div>
</div>
