<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H3-Other Projects</title>

    <link rel="stylesheet" href="/styles/maingallerypage.css" />
  </head>
  <body>
    <button class="back-button" onclick="goBackToGallery()">
      ← Back to Gallery
    </button>
    <div class="gallery-container">
      <div class="gallery">
        <img src="/assets/images/other projects/2.jpg" alt="Image 1" />
        <img src="/assets/images/other projects/6.jpg" alt="Image 2" />
        <img src="/assets/images/other projects/7.jpg" alt="Image 3" />
        <img src="/assets/images/other projects/9.jpg" alt="Image 4" />
        <img src="/assets/images/other projects/10.jpg" alt="Image 5" />
        <img src="/assets/images/other projects/11.jpg" alt="Image 6" />
        <img src="/assets/images/other projects/12.jpg" alt="Image 7" />
        <img src="/assets/images/other projects/13.jpg" alt="Image 8" />
        <img src="/assets/images/other projects/16.jpg" alt="Image 9" />
        <img src="/assets/images/other projects/17.jpg" alt="Image 10" />
        <img src="/assets/images/other projects/21.jpg" alt="Image 11" />
        <img src="/assets/images/other projects/24.jpg" alt="Image 12" />
        <img src="/assets/images/other projects/25.jpg" alt="Image 13" />
        <img src="/assets/images/other projects/26.jpg" alt="Image 14" />
        <img src="/assets/images/other projects/27.jpg" alt="Image 15" />
        <img src="/assets/images/other projects/28.jpg" alt="Image 16" />
        <img src="/assets/images/other projects/29.jpg" alt="Image 17" />
      </div>
    </div>

    <div class="modal">
      <span class="close-button">&times;</span>
      <img class="modal-content" src="" alt="Modal Image" />
    </div>

    <script src="/scripts/gallery page/projectNavigation.js"></script>
    <script src="/scripts/maingallerypage.js"></script>
  </body>
</html>
