<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H3-Road Projects</title>

    <link rel="stylesheet" href="/styles/maingallerypage.css" />
  </head>
  <body>
    <button class="back-button" onclick="goBackToGallery()">
      ← Back to Gallery
    </button>
    <div class="gallery-container">
      <div class="gallery">
        <img src="/assets/images/road projects/1.8.jpg" alt="Image 1" />
        <img src="/assets/images/road projects/1.jpg" alt="Image 2" />
        <img src="/assets/images/road projects/2.jpg" alt="Image 3" />
        <img src="/assets/images/road projects/3.1.jpg" alt="Image 4" />
        <img src="/assets/images/road projects/3.2.jpg" alt="Image 5" />
        <img src="/assets/images/road projects/3.jpg" alt="Image 6" />
        <img src="/assets/images/road projects/4.1.jpg" alt="Image 7" />
        <img src="/assets/images/road projects/4.jpg" alt="Image 8" />
        <img src="/assets/images/road projects/5.1.jpg" alt="Image 9" />
        <img src="/assets/images/road projects/5.jpg" alt="Image 10" />
        <img src="/assets/images/road projects/6.1.jpg" alt="Image 11" />
        <img src="/assets/images/road projects/6.jpg" alt="Image 12" />
        <img src="/assets/images/road projects/7.jpg" alt="Image 13" />
      </div>
    </div>

    <div class="modal">
      <span class="close-button">&times;</span>
      <img class="modal-content" src="" alt="Modal Image" />
    </div>

    <script src="/scripts/gallery page/projectNavigation.js"></script>
    <script src="/scripts/maingallerypage.js"></script>
  </body>
</html>
